html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

.movie-input::placeholder {
  color: rgb(188, 183, 183) !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-y: hidden !important;
}

.card-hover-effect {
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
  position: relative;
  z-index: 1;
  transform-origin: bottom center !important;
}

.card-hover-effect:hover {
  transform: scale(1.06) !important;
  z-index: 99 !important;
}
